/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .project__title {
        font-size: 36px;
    }
    .project__text {
        font-size: 16px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .h1 {
        font-size: 48px;
    }
    .categories__title {
        font-size: 20px;
    }
    .footer-top__item {
        width: 32%;
    }
    .header__menu {
        width: 320px;
        background: #000;
        position: fixed;
        top: 0;
        height: 100vh;
        z-index: 10;
        transition: all .6s ease;
        flex-direction: column;
        padding: 80px 20px 30px;
        box-sizing: border-box;
        right: -320px;
    }
    .toggle_mnu {
		display: block;
    }
    .header__menu.active {
        right: 0;
    }
    .main-screen__header {
        left: 0;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .header__menu ul {
        flex-direction: column;
        text-align: center;
    }
    .header__menu ul li {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .blocks_w25 {
        width: 50%;
    }
    .blocks_w33.blocks__team {
        width: 50%;
    }
    .project__title {
        font-size: 28px;
    }
    .project__text {
        font-size: 14px;
    }
    .s-contact .blocks_w50 {
        width: 100%;
    }
    .project__descr {
        padding-top: 7%;
    }
    .p-about .blocks_w50 {
        width: 100%;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .h1 {
        font-size: 42px;
    }
    .s-about .blocks__item {
        margin: 20px 0;
    }
    .categories__item_w25 {
        width: 50%;
    }
    .footer-top {
        flex-wrap: wrap;
    }
    .footer-top__item {
        width: 50%;
    }
    .footer-top__contacts-block {
        margin: 20px 0 0 0;
    }
    /*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
    }
    .s-ventures p {
        text-align: left;
    }
    .s-projects {
        background-image: -moz-linear-gradient( 0deg, rgb(58,201,156) 0%, rgb(85,203,118) 100%);
	    background-image: -webkit-linear-gradient( 0deg, rgb(58,201,156) 0%, rgb(85,203,118) 100%);
        background-image: -ms-linear-gradient( 0deg, rgb(58,201,156) 0%, rgb(85,203,118) 100%);
        padding-top: 20px;
    }
    .project__img {
        display: none;
    }
    .project__descr {
        width: 100%;
        padding-bottom: 80px;
        padding-top: 40px;
    }
    .project-arrows {
        left: calc(50% - 40px);
    }
    .project-slider__item.project {
        background: none;
    }
    .p-about {
        padding: 50px 0;
    }
    .main-screen__content p {
        margin: 0 0 20px;
    }
}

@media only screen and (max-width : 640px) {
    .footer-top__item {
        width: 100%;
        margin: 10px 0;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }
    .footer-bottom a {
        padding: 0;
        margin: 0;
    }
    .footer-bottom a:before {
        content: none;
    }
    .blocks_w33.blocks__team {
        width: auto;
        margin: 20px auto;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .h1 {
        font-size: 32px;
    }
    .blocks_w25 {
        width: 100%;
    }
    .categories__item_w25 {
        width: 100%;
    }
    .categories__item_w50 {
        width: 100%;
    }
    .project__descr {
        padding-left: 10px;
        padding-right: 10px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
    .h1 {
        font-size: 28px;
    }
    .main-screen__content {
        font-size: 13px;
    }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .container {
        width: 970px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .container {
        width: 1170px;
    }
}